<%= form_with model: @task, local: true do |f|%>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter task name" %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control', placeholder: "Enter task detail" %>
  </div>
  <div class="form-group">
    <%= f.label :datetime, "Date" %>
    <%= f.datetime_select :deadline, {use_month_numbers: true, start_year: Date.today.year, datetime_separator: '<h4>Time</h4>'}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :project_id %>
    <%= f.collection_select :project_id, Project.all, :id, :name, prompt: {} %>
  </div>
  <% if new_record?%>
    <div class="form-group">
      <%= f.hidden_field :finished, class: 'form-control'%>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label "Project Status" %>
      <%= f.select :finished, [['Unfinished',0],['Finished',1]], { include_blank: true, selected: 0 } %>
    </div>
  <% end %>
  <%= f.submit btn_msg, class: "form-btn" %>
<% end %>