<div class="task__wrapper">
  <div class="projects">
    <% if logged_in? %>
      <% @projects.each do |project| %>
        <section class="card">
          <div class="card-content">
            <%= project.name %>
            <div class="card-link">
              <%= link_to "Edit Project", edit_project_path(project) %>
              <%= link_to "Delete Project", project_path(project), method: :delete, data: { confirm: "Are you Sure?" } %>
            </div>
            <hr />
            <div class="tasks">
              <%= render partial: "task", collection: @tasks, locals: { project: project } %>
            </div>
          </div>
        </section>
      <% end %>
    <% end %>
  </div>
  <%= paginate @projects %>
</div>