<div class="task__wrapper">
  <div class="projects">
    <% if logged_in? %>
      <% @projects.each do |project| %>
        <section class="card">
          <div class="card-content">
            <p class="title"><%= project.name %><p>
            <div class="card-link">
              <p class="btn"><%= link_to "Edit Project", edit_project_path(project) %></p>
              <p class="btn"><%= link_to "Delete Project", project_path(project), method: :delete, data: { confirm: "Are you Sure?" } %></p>
            </div>
            <hr />
            <div class="tasks">
              <%= render partial: "task", collection: @tasks, locals: { project: project } %>
            </div>
          </div>
        </section>
      <% end %>
    <% end %>
  </div>
  <% if logged_in? %>
    <%= paginate @projects %>
  <% end %>
</div>