<%= form_with model: @project, local: true do |f|%>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter Project name" %>
  </div>
  <%= f.submit btn_msg, class: "form-btn" %>
<% end %>