<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="site-header">
      <div class="site-header__wrapper">
        <a href="/" class="brand">TodoApp</a>
        <nav class="nav">
          <ul class="nav__wrapper">
            <ol class="nav__item"><a href="#">New Task</a></ol>
            <ol class="nav__item"><a href="#">New Project</a></ol>
            <ol class="nav__item"><a href="#">Edit Profile</a></ol>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
